<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Login</title>
</head>
<body>
<%- include('../partials/nav.ejs') %>
  <% if (currentUser) { %>
    Already logged in as <%= currentUser %>
    <a href="/users/logout">Logout</a>
  <% } else { %>
    <%if (err !== '') { %>
      <%=err%>
    <% } %>
    <div class="loginForm">
    <form action="/users/login" method="POST">
      <label for="username">User Name</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <input class="loginFormButton" type="submit" value="Login" />
    </form>
  </div>
  <% } %>
</body>
<%- include('../partials/footer.ejs') %>
</html>