<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body>
  <% for (let i = 0; i < products.length; i++) { %>
    <p><a href="/products/<%=products[i]._id%>"><%=products[i].name%></a></p>
  <% } %>

  <% for (let j = 0; j < customers.length; j++) { %>
    <p><a href="/customers/<%=customers[j]._id%>"><%= customers[j].name %></a><a href="/products/newPurchase/<%=customers[j]._id%>">New Order</a></p>
  <% } %>

  <a href="/products/new">Create New Product</a>
  <a href="/users/<%=currentUser%>/edit">Edit Profile</a>
</body>
</html>