<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Editing <%=customer.name%></title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class="editCustomerContainer">

  <form class="editCustomerForm" action="/customers/<%=customer._id%>?_method=PUT" method="POST">
    <label for="">Customer Name: </label><input type="text" name="name" value="<%=customer.name%>" required />
    <label for="">Address: </label><input type="textarea" name="address" value="<%=customer.address%>" />
    <label for="">Email Address: </label><input type="email" name="email" value="<%=customer.email%>" />
    <label for="">Phone Number: </label><input type="text" name="phone" value="<%=customer.phone%>" />
    <input class="editCustomerButton" type="submit" value="Update Customer" />
  </form>

  <form class="deleteCustomerForm" action="/customers/<%=customer._id%>?_method=DELETE" method="POST">
    <input class="deleteCustomerButton" type="submit" value="Delete <%=customer.name%>" />
  </form>

  </div>
  <div class="profileProductPageBack">
    <a href="/users/profile">Return to Profile</a>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>
</html>